body {
    background: rgb(235, 235, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.task  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task > ol {
    margin: 30px auto;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.task li {
    margin: 10px 0px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.75);
}